In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from tabulate import tabulate

# Connected MySQL

In [11]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '243258',
    database = 'DataModel2'
    )
mycursor = mydb.cursor()

# Create DB

In [86]:
# mycursor.execute('CREATE DATABASE DataModel2')

# Customers

In [2]:
customers = pd.read_csv('Data\olist_customers_dataset.csv')

In [3]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
customers.shape

(99441, 5)

In [5]:
len(customers['customer_unique_id'].unique())

96096

In [109]:
len(customers['customer_id'].unique())

99441

In [110]:
a = customers['customer_id'].value_counts()
print(a)
print(type(a))

06b8999e2fba1a1fbc88172c00ba8bc7    1
c023f30c1147aeb0358474f3b1dbc707    1
b5cbf43f42281920a175fc99650c91d6    1
19f4e983f8f05b7de16670f8a0cf0ac7    1
229ac14c6ee6d6a606264ebcc861beb7    1
                                   ..
31665bd5bc542687ab54c9fd9ed9917b    1
37fb9cce079a4887c96b59bae2011d05    1
1d815f3ad9b2017b6da2c4f1cbb1180b    1
6b05c8f3a25a71005d5eb9b51766c333    1
274fa6071e5e17fe303b9748641082c8    1
Name: customer_id, Length: 99441, dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
print(a[a > 1])

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
370cd3b09ea745fe047fd11db7430441     2
d7c6bdf20c4ec9c9cda815dde58e778a     2
a366793a4999f8cc135855c4dd347421     2
156283b6ca35ef976a0265903145fd5e     2
d83257348027bd8c59a228cc034de5e3     2
Name: customer_unique_id, Length: 2997, dtype: int64

In [38]:
filt_1 = (customers['customer_unique_id']== '8d50f5eadf50201ccdcedfb9e2ac8455')
customers.loc[filt_1]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
14186,1bd3585471932167ab72a84955ebefea,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
15321,a8fabc805e9a10a3c93ae5bff642b86b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
16654,897b7f72042714efaa64ac306ba0cafc,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
36122,b2b13de0770e06de50080fea77c459e6,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
38073,42dbc1ad9d560637c9c4c1533746f86d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
40141,dfb941d6f7b02f57a44c3b7c3fefb44b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
48614,65f9db9dd07a4e79b625effa4c868fcb,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
52574,1c62b48fb34ee043310dcb233caabd2e,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
58707,a682769c4bc10fc6ef2101337a6c83c9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
67996,6289b75219d757a56c0cce8d9e427900,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
72745,3414a9c813e3ca02504b8be8b2deb27f,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
74510,0e4fdc084a6b9329ed55d62dcd653ccf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
83363,f5188d99e9281e214a4a7d1b139a8229,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
85507,89be66634d68fa73a95499b6352e085d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
90268,0bf8bf19944a7f8b40ba86fef778ca7c,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
93591,9a1afef458843a022e431f4cb304dfe9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
96652,31dd055624c66f291578297a551a6cdf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

In [40]:
filt_2 = (customers['customer_id']== '897b7f72042714efaa64ac306ba0cafc')
customers.loc[filt_2]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
16654,897b7f72042714efaa64ac306ba0cafc,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

## Create Table Customers

In [90]:
mycursor.execute(
    '''CREATE TABLE Customers(
        customer_id varchar(50),
        customer_unique_id varchar(50),
        customer_zip_code_prefix int,
        customer_city varchar(20),
        customer_state varchar(15))
    ''')

In [94]:
mycursor.execute(
    ''' ALTER TABLE Customers
        MODIFY COLUMN customer_city varchar(50)
    ''')

## Insert Values Into Table Customers

In [91]:
tb_customers = (
    '''INSERT INTO Customers(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state)
        VALUES (%s, %s, %s, %s, %s)
    ''')

In [113]:
for i, row in customers.iterrows():
    mycursor.execute(tb_customers, list(row))

In [114]:
mydb.commit()

In [115]:
mycursor.execute('SELECT * FROM Customers LIMIT 5')
myresult = mycursor.fetchall()

print(tabulate(myresult, headers=['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state'], tablefmt='psql'))

+----------------------------------+----------------------------------+----------------------------+-----------------------+------------------+
| customer_id                      | customer_unique_id               |   customer_zip_code_prefix | customer_city         | customer_state   |
|----------------------------------+----------------------------------+----------------------------+-----------------------+------------------|
| 06b8999e2fba1a1fbc88172c00ba8bc7 | 861eff4711a542e4b93843c6dd7febb0 |                      14409 | franca                | SP               |
| 18955e83d337fd6b2def6b18a428ac77 | 290c77bc529b7ac935b93aa66c333dc3 |                       9790 | sao bernardo do campo | SP               |
| 4e7b3e00288586ebd08712fdd0374a03 | 060e732b5b29e8181a18229c7b0b2b5e |                       1151 | sao paulo             | SP               |
| b2b6027bc5c5109e529d4dc6358b12c3 | 259dac757896d24d7702b9acbbff3f3c |                       8775 | mogi das cruzes       | SP               |
| 4f2d8ab171c80ec8364f7c12e35b23ad | 345ecd01c38d18a9036ed96c73b8d066 |                      13056 | campinas              | SP               |
+----------------------------------+----------------------------------+----------------------------+-----------------------+------------------+

In [112]:
# mycursor.execute('''DELETE FROM Customers''')

## ADD PRIMARY KEY

In [116]:
mycursor.execute(
    ''' ALTER TABLE Customers
        ADD PRIMARY KEY (customer_id)
    ''')

# GeoLocation

In [8]:
geolocation = pd.read_csv('Data\olist_geolocation_dataset.csv')

In [9]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [133]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [134]:
geolocation['geolocation_lat']

0         -23.545621
1         -23.546081
2         -23.546129
3         -23.544392
4         -23.541578
             ...
1000158   -28.068639
1000159   -27.877125
1000160   -28.071855
1000161   -28.388932
1000162   -28.070104
Name: geolocation_lat, Length: 1000163, dtype: float64

In [10]:
geolocation.shape

(1000163, 5)

In [11]:
len(geolocation['geolocation_zip_code_prefix'].unique())

19015

## Create Table geolocation

In [121]:
# mycursor.execute('DROP TABLE Geolocation')

In [8]:
mycursor.execute(
    '''CREATE TABLE Geolocation(
        geolocation_zip_code_prefix int,
        geolocation_lat float,
        geolocation_lng float,
        geolocation_city varchar(50),
        geolocation_state varchar(15))
    ''')

ProgrammingError: 1050 (42S01): Table 'geolocation' already exists

## Insert Values Into Table Geolocation

In [119]:
tb_geolocation = (
    '''INSERT INTO Geolocation(geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state)
        VALUES (%s, %s, %s, %s, %s)
    ''')

In [123]:
for i, row in geolocation.iterrows():
    mycursor.execute(tb_geolocation, list(row))

In [124]:
mycursor.execute('SELECT * FROM Geolocation LIMIT 5')
myresult = mycursor.fetchall()

print(tabulate(myresult, headers=['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state'], tablefmt='psql'))

+-------------------------------+-------------------+-------------------+--------------------+---------------------+
|   geolocation_zip_code_prefix |   geolocation_lat |   geolocation_lng | geolocation_city   | geolocation_state   |
|-------------------------------+-------------------+-------------------+--------------------+---------------------|
|                          1037 |          -23.5456 |          -46.6393 | sao paulo          | SP                  |
|                          1046 |          -23.5461 |          -46.6448 | sao paulo          | SP                  |
|                          1046 |          -23.5461 |          -46.643  | sao paulo          | SP                  |
|                          1041 |          -23.5444 |          -46.6395 | sao paulo          | SP                  |
|                          1035 |          -23.5416 |          -46.6416 | sao paulo          | SP                  |
+-------------------------------+-------------------+-------------------+--------------------+---------------------+

# Order_Items

In [12]:
order_items = pd.read_csv('Data\olist_order_items_dataset.csv')

In [13]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [14]:
order_items.shape

(112650, 7)

In [69]:
len(order_items['product_id'].unique())

32951

In [51]:
order_items['order_item_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

## Create Table Order_Items

In [149]:
mycursor.execute('DROP TABLE Order_Items')

In [150]:
mycursor.execute(
    '''CREATE TABLE Order_Items(
        order_id varchar(50),
        order_item_id int,
        product_id varchar(50),
        seller_id varchar(50),
        shipping_limit_date datetime,
        price float,
        freight_value float)
    ''')

In [151]:
tb_order_items = (
    '''INSERT INTO Order_Items(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    ''')

In [152]:
for i, row in order_items.iterrows():
    mycursor.execute(tb_order_items,list(row))

In [155]:
mycursor.execute('SELECT * FROM Order_Items LIMIT 5')
myresult = mycursor.fetchall()
# for i in myresult:
#     print(i)
print(tabulate(myresult, headers = ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value'],tablefmt = 'psql'))

+----------------------------------+-----------------+----------------------------------+----------------------------------+-----------------------+---------+-----------------+
| order_id                         |   order_item_id | product_id                       | seller_id                        | shipping_limit_date   |   price |   freight_value |
|----------------------------------+-----------------+----------------------------------+----------------------------------+-----------------------+---------+-----------------|
| 00010242fe8c5a6d1ba2dd792cb16214 |               1 | 4244733e06e7ecb4970a6e2683c13e61 | 48436dade18ac8b2bce089ec2a041202 | 2017-09-19 09:45:35   |   58.9  |           13.29 |
| 00018f77f2f0320c557190d7a144bdd3 |               1 | e5f2d52b802189ee658865ca93d83a8f | dd7ddc04e1b6c2c614352b383efe2d36 | 2017-05-03 11:05:13   |  239.9  |           19.93 |
| 000229ec398224ef6ca0657da4fc703e |               1 | c777355d18b72b67abbeef9df44fd0fd | 5b51032eddd242adc84c38acab88f23d | 2018-01-18 14:48:30   |  199    |           17.87 |
| 00024acbcdf0a6daa1e931b038114c75 |               1 | 7634da152a4610f1595efa32f14722fc | 9d7a1d34a5052409006425275ba1c2b4 | 2018-08-15 10:10:18   |   12.99 |           12.79 |
| 00042b26cf59d7ce69dfabb4e55b4fd9 |               1 | ac6c3623068f30de03045865e4e10089 | df560393f3a51e74553ab94004ba5c87 | 2017-02-13 13:57:51   |  199.9  |           18.14 |
+----------------------------------+-----------------+----------------------------------+----------------------------------+-----------------------+---------+-----------------+

# Order_Payment

In [18]:
order_payment = pd.read_csv('Data\olist_order_payments_dataset.csv')

In [20]:
order_payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [167]:
order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [19]:
order_payment.shape

(103886, 5)

In [70]:
len(order_payment['order_id'].unique())

99440

In [71]:
order_payment['order_id'].value_counts()

fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
                                    ..
6d2a30c9b7dcee3ed507dc9a601f99e7     1
a7737f6d9208dd56ea498a322ed3c37f     1
646e62df54f3e236eb6d5ff3b31429b8     1
e115da7a49ec2acf622e1f31da65cfb9     1
28bbae6599b09d39ca406b747b6632b1     1
Name: order_id, Length: 99440, dtype: int64

In [162]:
filt_order_payment = (order_payment['order_id'] == 'fa65dad1b0e818e3ccc5cb0e39231352')
order_payment.loc[filt_order_payment].sort_values(by='payment_sequential')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26

## Create Table Order_Payment

In [163]:
mycursor.execute(
    '''CREATE TABLE Order_Payment(
        order_id varchar(50),
        payment_sequential int,
        payment_type varchar(20),
        payment_installments int,
        payment_value float)
    ''')

## Insert values into Order_Payment

In [168]:
tb_order_payment = (
    '''INSERT INTO Order_Payment(order_id, payment_sequential, payment_type, payment_installments, payment_value)
        VALUES (%s, %s, %s, %s, %s)
    ''')

In [169]:
for i, row in order_payment.iterrows():
    mycursor.execute(tb_order_payment,list(row))
mydb.commit()

In [170]:
mycursor.execute('SELECT * FROM Order_Payment LIMIT 5')
myresult = mycursor.fetchall()

print(tabulate(myresult, headers = ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value'], tablefmt = 'psql'))

+----------------------------------+----------------------+----------------+------------------------+-----------------+
| order_id                         |   payment_sequential | payment_type   |   payment_installments |   payment_value |
|----------------------------------+----------------------+----------------+------------------------+-----------------|
| b81ef226f3fe1789b1e8b2acac839d17 |                    1 | credit_card    |                      8 |           99.33 |
| a9810da82917af2d9aefd1278f1dcfa0 |                    1 | credit_card    |                      1 |           24.39 |
| 25e8ea4e93396b6fa0d3dd708e76c1bd |                    1 | credit_card    |                      1 |           65.71 |
| ba78997921bbcdc1373bb41e913ab953 |                    1 | credit_card    |                      8 |          107.78 |
| 42fdf880ba16b47b59251dd489d4441a |                    1 | credit_card    |                      2 |          128.45 |
+----------------------------------+----------------------+----------------+------------------------+-----------------+

# Order_Review

In [3]:
order_review = pd.read_csv('Data\olist_order_reviews_dataset.csv')

In [22]:
order_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [23]:
order_review.shape

(99224, 7)

In [63]:
len(order_review['review_id'].unique())

98410

In [57]:
order_review['review_id'].value_counts()

7b606b0d57b078384f0b58eac1d41d78    3
dbdf1ea31790c8ecfcc6750525661a9b    3
32415bbf6e341d5d517080a796f79b5c    3
0c76e7a547a531e7bf9f0b99cba071c1    3
4219a80ab469e3fc9901437b73da3f75    3
                                   ..
95e01591b0e69a2fab382b0c562d4e20    1
93611e0327d6a1769d1e68cf3caa242d    1
983c47de74278257f99c4b918fd380f1    1
ca475b77fcc618551ef9d516c3f61b88    1
efe49f1d6f951dd88b51e6ccd4cc548f    1
Name: review_id, Length: 98410, dtype: int64

In [64]:
filt_review = (order_review['review_id'] == '7b606b0d57b078384f0b58eac1d41d78' )
order_review.loc[filt_review]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
7500,7b606b0d57b078384f0b58eac1d41d78,f3028a8f41ea1ee2b461420913663f97,5,NaN,NaN,2017-02-15 00:00:00,2017-02-21 23:30:22
59859,7b606b0d57b078384f0b58eac1d41d78,2deb17060fc1ce18a85eba953ddcdeaf,5,NaN,NaN,2017-02-15 00:00:00,2017-02-21 23:30:22
61069,7b606b0d57b078384f0b58eac1d41d78,2f8f31eb2f7b6572836d662a6625c8e4,5,NaN,NaN,2017-02-15 00:00:00,2017-02-21 23:30:22

In [65]:
filt_review = (order_review['review_id'] == 'dbdf1ea31790c8ecfcc6750525661a9b' )
order_review.loc[filt_review]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
24242,dbdf1ea31790c8ecfcc6750525661a9b,fa06c9f04ef55a2a43f2246a0777b7c8,1,NaN,O produto veio embalado apenas por um frágil e...,2018-03-20 00:00:00,2018-03-21 01:02:05
49537,dbdf1ea31790c8ecfcc6750525661a9b,3cf387bb14e9db171ccbb9b87ea607bb,1,NaN,O produto veio embalado apenas por um frágil e...,2018-03-20 00:00:00,2018-03-21 01:02:05
95544,dbdf1ea31790c8ecfcc6750525661a9b,9406240a4e41945ba492020a2702f757,1,NaN,O produto veio embalado apenas por um frágil e...,2018-03-20 00:00:00,2018-03-21 01:02:05

In [174]:
order_review['review_comment_title'].unique()

array([nan, 'recomendo', 'Super recomendo', ...,
       'Não foi entregue o pedido', 'OTIMA EMBALAGEM', 'Foto enganosa '],
      dtype=object)

In [193]:
order_review_none = order_review.where(pd.notnull(order_review), None)

In [194]:
order_review_none

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,None,None,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,None,None,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,None,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,None,None,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,None,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

## Create Table Order_Review

In [206]:
mycursor.execute('DROP TABLE Order_Review')

In [207]:
mycursor.execute(
    '''CREATE TABLE Order_Review(
        review_id varchar(50),
        order_id varchar(50),
        review_score int,
        review_comment_title text,
        review_comment_message text,
        review_creation_date datetime,
        review_answer_timestamp datetime)
    ''')

In [208]:
tb_order_review = (
    '''INSERT INTO Order_Review(review_id, order_id, review_score, review_comment_title,
        review_comment_message,review_creation_date,review_answer_timestamp)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    ''')

In [209]:
for i, row in order_review_none.iterrows():
    mycursor.execute(tb_order_review,list(row))
    
mydb.commit()

In [210]:
mycursor.execute('SELECT * FROM Order_Review LIMIT 5')
myresult = mycursor.fetchall()

print(tabulate(myresult, headers = ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message','review_creation_date','review_answer_timestamp'], tablefmt = 'psql'))

+----------------------------------+----------------------------------+----------------+------------------------+------------------------------------------------------------------------------------------------------+------------------------+---------------------------+
| review_id                        | order_id                         |   review_score | review_comment_title   | review_comment_message                                                                               | review_creation_date   | review_answer_timestamp   |
|----------------------------------+----------------------------------+----------------+------------------------+------------------------------------------------------------------------------------------------------+------------------------+---------------------------|
| 7bc2406110b926393aa56f80a40eba40 | 73fc7af87114b39712e6da79b0a377eb |              4 |                        |                                                                                                      | 2018-01-18 00:00:00    | 2018-01-18 21:46:59       |
| 80e641a11e56f04c1ad469d5645fdfde | a548910a1c6147796b98fdf73dbeba33 |              5 |                        |                                                                                                      | 2018-03-10 00:00:00    | 2018-03-11 03:05:13       |
| 228ce5500dc1d8e020d8d1322874b6f0 | f9e4b658b201a9f2ecdecbb34bed034b |              5 |                        |                                                                                                      | 2018-02-17 00:00:00    | 2018-02-18 14:36:24       |
| e64fb393e7b32834bb789ff8bb30750e | 658677c97b385a9be170737859d3511b |              5 |                        | Recebi bem antes do prazo estipulado.                                                                | 2017-04-21 00:00:00    | 2017-04-21 22:02:06       |
| f7c4243c7fe1938f181bec41a392bdeb | 8e6bfb81e283fa7e4f11123a3fb894f1 |              5 |                        | Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa | 2018-03-01 00:00:00    | 2018-03-02 10:26:53       |
+----------------------------------+----------------------------------+----------------+------------------------+------------------------------------------------------------------------------------------------------+------------------------+---------------------------+

# Order

In [4]:
order = pd.read_csv('Data\olist_orders_dataset.csv')

In [5]:
order.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [26]:
order.shape

(99441, 8)

In [55]:
len(order['order_id'].unique())

99441

### REPLACE NaN => None

In [17]:
order_none = order.where(pd.notnull(order), None)

## Create Table Orderrrr

In [14]:
mycursor.execute(
    '''CREATE TABLE Orderrrr(
        order_id varchar(50),
        customer_id varchar(50),
        order_status varchar(20),
        order_purchase_timestamp datetime,
        order_approved_at datetime,
        order_delivered_carrier_date datetime,
        order_delivered_customer_date datetime,
        order_estimated_delivery_date datetime
        )
    ''')

## Insert Values Into Orderrrr

In [18]:
mycursor.execute('DELETE FROM Orderrrr')

In [15]:
tb_order = (
    '''INSERT INTO Orderrrr(order_id, customer_id, order_status,order_purchase_timestamp,
                            order_approved_at,order_delivered_carrier_date,
                            order_delivered_customer_date,order_estimated_delivery_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    ''')

In [19]:
for i, row in order_none.iterrows():
    mycursor.execute(tb_order,list(row))
    
mydb.commit()

# Product

In [45]:
product = pd.read_csv('Data\olist_products_dataset.csv')

In [28]:
product.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [23]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [29]:
product.shape

(32951, 9)

In [53]:
len(product['product_id'].unique())

32951

## REPLACE NaN => None

In [89]:
product[product.isna().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [148]:
convert_dict = {'product_name_lenght': object,'product_description_lenght' : object,'product_photos_qty': object,'product_weight_g': object, 'product_length_cm': object,'product_height_cm': object, 'product_width_cm': object}



product = product.astype(convert_dict)

In [135]:
product.iloc[105]['product_name_lenght']

nan

In [136]:
type(product.iloc[105]['product_name_lenght']) == np.nan

False

In [126]:
product[product.isna().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [150]:
product_none[product_none.isna().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,None,None,None,None,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,None,None,None,None,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,None,None,None,None,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,None,None,None,None,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,None,None,None,None,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,None,None,None,None,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,None,None,None,None,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,None,None,None,None,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,None,None,None,None,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,None,None,None,None,700.0,28.0,3.0,43.0

In [149]:
# product_none = product.where(pd.notnull(product), None)


product_none = product.where(pd.notnull(product), None)

In [151]:
convert_dict = {'product_name_lenght': float,'product_description_lenght' : float,'product_photos_qty': float,'product_weight_g': float, 'product_length_cm': float,'product_height_cm': float, 'product_width_cm': float}



product = product.astype(convert_dict)

In [124]:
product.isna().sum().sum()

2448

In [110]:
product_none.isna().sum().sum()

2448

## Create Table Product

In [25]:
mycursor.execute(
    '''CREATE TABLE Product(
        product_id varchar(50),
        product_category_name varchar(50),
        product_name_lenght float,
        product_description_lenght float,
        product_photos_qty float,
        product_weight_g float,
        product_length_cm float,
        product_height_cm float,
        product_width_cm float
        )
    ''')

## Insert Values Into Product

In [152]:
mycursor.execute('DELETE FROM Product')

In [153]:
tb_product = (
    '''INSERT INTO Product(product_id, product_category_name, product_name_lenght, product_description_lenght,
                            product_photos_qty,product_weight_g, product_length_cm,product_height_cm, product_width_cm)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    ''')

In [154]:
for i, row in product_none.iterrows():
    mycursor.execute(tb_product,list(row))
    
mydb.commit()

# Seller

In [159]:
seller = pd.read_csv('Data\olist_sellers_dataset.csv')

In [160]:
seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [32]:
seller.shape

(3095, 4)

In [54]:
len(seller['seller_id'].unique())

3095

## Create Table Seller

In [156]:
mycursor.execute(
    '''CREATE TABLE Seller(
        seller_id varchar(50),
        seller_zip_code_prefix int,
        seller_city nvarchar(50),
        seller_state varchar(15)
        )
    ''')

## Insert Value Into Seller

In [157]:
tb_seller = (
    '''INSERT INTO Seller(seller_id, seller_zip_code_prefix, seller_city, seller_state)
        VALUES (%s, %s, %s, %s)
    ''')

In [161]:
for i, row in seller.iterrows():
    mycursor.execute(tb_seller,list(row))
    
mydb.commit()

# Product_Category_Name_Translation

In [33]:
product_category_name_translation = pd.read_csv('Data\product_category_name_translation.csv')

In [34]:
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [35]:
product_category_name_translation.shape

(71, 2)