In [1]:
import pandas as pd
import json
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = '243258',
        database = 'DataModel3'
        )
mycursor = mydb.cursor()

In [3]:
# mycursor.execute('CREATE DATABASE DataModel3')

# LAZADA

In [4]:
with open('lazadaID.json', encoding = 'utf-8') as f:
    data = [json.loads(line) for line in f]
data[0]

{'id': 1256114282149769217,
 'conversation_id': '1255735352767082496',
 'created_at': 1588315956000,
 'date': '2020-05-01',
 'time': '13:52:36',
 'timezone': 'WIB',
 'user_id': 515203442,
 'username': 'lazadaid',
 'name': 'Lazada',
 'place': '',
 'tweet': 'Hai Lazadian, DM sudah kami respon. Semoga permasalahan Kakak segera terselesaikan ya. Ditunggu konfirmasi via email. -Paulina',
 'mentions': ['m_irawadi'],
 'urls': [],
 'photos': [],
 'replies_count': 1,
 'retweets_count': 0,
 'likes_count': 0,
 'hashtags': [],
 'cashtags': [],
 'link': 'https://twitter.com/LazadaID/status/1256114282149769217',
 'retweet': False,
 'quote_url': '',
 'video': 0,
 'near': '',
 'geo': '',
 'source': '',
 'user_rt_id': '',
 'user_rt': '',
 'retweet_id': '',
 'reply_to': [{'user_id': '515203442', 'username': 'LazadaID'},
  {'user_id': '782106124833001472', 'username': 'm_irawadi'}],
 'retweet_date': '',
 'translate': '',
 'trans_src': '',
 'trans_dest': ''}

In [5]:
lazada = pd.DataFrame(data= data, columns = ['id','conversation_id','created_at',  'date', 'tweet', 'likes_count','link'])
lazada

,id,conversation_id,created_at,date,tweet,likes_count,link
0,1256114282149769217,1255735352767082496,1588315956000,2020-05-01,"Hai Lazadian, DM sudah kami respon. Semoga per...",0,https://twitter.com/LazadaID/status/1256114282...
1,1256112582282207233,1255803412060336128,1588315551000,2020-05-01,"Hi Kak Julie, jika kamu memiliki pertanyaan se...",0,https://twitter.com/LazadaID/status/1256112582...
2,1256111851227643906,1255993381664067584,1588315377000,2020-05-01,"Hai Lazadian, DM sudah kami respon ya. -Fian",0,https://twitter.com/LazadaID/status/1256111851...
3,1256089419066400768,1255842604404498433,1588310029000,2020-05-01,"Hi Kak Shely, DM kamu sudah kami respon ya. Si...",0,https://twitter.com/LazadaID/status/1256089419...
4,1256087043383291904,1246015357933903875,1588309462000,2020-05-01,"Hai Lazadian, kami turut menyesal atas kendala...",0,https://twitter.com/LazadaID/status/1256087043...
...,...,...,...,...,...,...,...
130934,180500470375251968,180496320216309760,1331869640000,2012-03-16,Thank You... RT @riezadevi: congrates @LazadaI...,0,https://twitter.com/LazadaID/status/1805004703...
130935,180485224252194816,180485224252194816,1331866005000,2012-03-16,Guys visit our facebook page at http://on.fb....,0,https://twitter.com/LazadaID/status/1804852242...
130936,180482688610861056,180482688610861056,1331865400000,2012-03-16,"Some pursue happiness-others create it, Selama...",0,https://twitter.com/LazadaID/status/1804826886...
130937,180249475997122562,180249475997122562,1331809798000,2012-03-15,Review mengenai Lazada di Daily Social klik h...,0,https://twitter.com/LazadaID/status/1802494759...
130938,180189922123194368,180189922123194368,1331795599000,2012-03-15,Kini Lazada telah online! Kunjungi http://www...,0,https://twitter.com/LazadaID/status/1801899221...

In [6]:
lazada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130939 entries, 0 to 130938
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               130939 non-null  int64
 1   conversation_id  130939 non-null  object
 2   created_at       130939 non-null  int64
 3   date             130939 non-null  object
 4   tweet            130939 non-null  object
 5   likes_count      130939 non-null  int64
 6   link             130939 non-null  object
dtypes: int64(3), object(4)
memory usage: 7.0+ MB

## Create Table Lazada

In [7]:
mycursor.execute('''CREATE TABLE Lazada(
                                        id VARCHAR(30) NOT NULL,
                                        conversation_id VARCHAR(30) NOT NULL,
                                        created_at VARCHAR(20) NOT NULL,
                                        date DATE,
                                        tweet text,
                                        likes_count smallint,
                                        link VARCHAR(70)
                                        )
                ''')

In [8]:
tb_lazada = '''INSERT INTO Lazada(id, conversation_id, created_at,  date, tweet, likes_count, link)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            '''

In [9]:
for i,row in lazada.iterrows():
    mycursor.execute(tb_lazada, list(row))
mydb.commit()

# BLIBLI

In [10]:
with open('bliblidotcom.json', encoding = 'utf-8') as f:
    data = [json.loads(line) for line in f]
data[0:4]

[{'id': 1256116141040242689,
  'conversation_id': '1256116141040242689',
  'created_at': 1588316400000,
  'date': '2020-05-01',
  'time': '17:00:00',
  'timezone': 'AEST',
  'user_id': 280834900,
  'username': 'bliblidotcom',
  'name': 'Blibli.com',
  'place': '',
  'tweet': 'Sudah kepikiran mau ngirimin hampers seperti apa untuk kerabat lebaran nanti? Ini bisa jadi pilihan kamu lho~ #RamadanLebihBaik',
  'mentions': [],
  'urls': [],
  'photos': [],
  'replies_count': 0,
  'retweets_count': 0,
  'likes_count': 1,
  'hashtags': ['#ramadanlebihbaik'],
  'cashtags': [],
  'link': 'https://twitter.com/bliblidotcom/status/1256116141040242689',
  'retweet': False,
  'quote_url': '',
  'video': 0,
  'near': '',
  'geo': '',
  'source': '',
  'user_rt_id': '',
  'user_rt': '',
  'retweet_id': '',
  'reply_to': [{'user_id': '280834900', 'username': 'bliblidotcom'}],
  'retweet_date': '',
  'translate': '',
  'trans_src': '',
  'trans_dest': ''},
 {'id': 1256101043999436802,
  'conversation_id': '1256101043999436802',
  'created_at': 1588312800000,
  'date': '2020-05-01',
  'time': '16:00:00',
  'timezone': 'AEST',
  'user_id': 280834900,
  'username': 'bliblidotcom',
  'name': 'Blibli.com',
  'place': '',
  'tweet': 'Belanja pake kartu kredit & debit Citibank di Blibli bisa hemat~ üòç #RamadanLebihBaik',
  'mentions': [],
  'urls': [],
  'photos': [],
  'replies_count': 0,
  'retweets_count': 0,
  'likes_count': 0,
  'hashtags': ['#ramadanlebihbaik'],
  'cashtags': [],
  'link': 'https://twitter.com/bliblidotcom/status/1256101043999436802',
  'retweet': False,
  'quote_url': '',
  'video': 0,
  'near': '',
  'geo': '',
  'source': '',
  'user_rt_id': '',
  'user_rt': '',
  'retweet_id': '',
  'reply_to': [{'user_id': '280834900', 'username': 'bliblidotcom'}],
  'retweet_date': '',
  'translate': '',
  'trans_src': '',
  'trans_dest': ''},
 {'id': 1256085943099981825,
  'conversation_id': '1256085943099981825',
  'created_at': 1588309200000,
  'date': '2020-05-01',
  'time': '15:00:00',
  'timezone': 'AEST',
  'user_id': 280834900,
  'username': 'bliblidotcom',
  'name': 'Blibli.com',
  'place': '',
  'tweet': 'Udah seminggu #Ramadan, nih. Nanti gak berasa udah lebaran aja. Buat yang mau tetap tampil kece, bisa mulai cicil beli baju lebaran di Blibli. #RamadanLebihBaik',
  'mentions': [],
  'urls': [],
  'photos': [],
  'replies_count': 0,
  'retweets_count': 0,
  'likes_count': 1,
  'hashtags': ['#ramadan', '#ramadanlebihbaik'],
  'cashtags': [],
  'link': 'https://twitter.com/bliblidotcom/status/1256085943099981825',
  'retweet': False,
  'quote_url': '',
  'video': 0,
  'near': '',
  'geo': '',
  'source': '',
  'user_rt_id': '',
  'user_rt': '',
  'retweet_id': '',
  'reply_to': [{'user_id': '280834900', 'username': 'bliblidotcom'}],
  'retweet_date': '',
  'translate': '',
  'trans_src': '',
  'trans_dest': ''},
 {'id': 1256082069408505856,
  'conversation_id': '1256082063796498432',
  'created_at': 1588308276000,
  'date': '2020-05-01',
  'time': '14:44:36',
  'timezone': 'AEST',
  'user_id': 280834900,
  'username': 'bliblidotcom',
  'name': 'Blibli.com',
  'place': '',
  'tweet': 'Catet tanggal mainnya! Besok, hari Sabtu, 2 Mei 2020.\nJam 15.00 - 16.00 WIB. Live di instagram  @sahabatperjalananmu. \n\nKalau kalian daftar menjadi member Sahabat Perjalananmu, bisa dapetin juga voucher travel Rp100.000 yang bisa dipakai buat traveling nanti. Lumayan kan!',
  'mentions': [],
  'urls': [],
  'photos': [],
  'replies_count': 0,
  'retweets_count': 1,
  'likes_count': 1,
  'hashtags': [],
  'cashtags': [],
  'link': 'https://twitter.com/bliblidotcom/status/1256082069408505856',
  'retweet': False,
  'quote_url': '',
  'video': 0,
  'near': '',
  'geo': '',
  'source': '',
  'user_rt_id': '',
  'user_rt': '',
  'retweet_id': '',
  'reply_to': [{'user_id': '280834900', 'username': 'bliblidotcom'}],
  'retweet_date': '',
  'translate': '',
  'trans_src': '',
  'trans_dest': ''}]

In [11]:
blibli = pd.DataFrame(data= data, columns = ['id','conversation_id','created_at',  'date', 'tweet', 'likes_count','link'])
blibli

,id,conversation_id,created_at,date,tweet,likes_count,link
0,1256116141040242689,1256116141040242689,1588316400000,2020-05-01,Sudah kepikiran mau ngirimin hampers seperti a...,1,https://twitter.com/bliblidotcom/status/125611...
1,1256101043999436802,1256101043999436802,1588312800000,2020-05-01,Belanja pake kartu kredit & debit Citibank di ...,0,https://twitter.com/bliblidotcom/status/125610...
2,1256085943099981825,1256085943099981825,1588309200000,2020-05-01,"Udah seminggu #Ramadan, nih. Nanti gak berasa ...",1,https://twitter.com/bliblidotcom/status/125608...
3,1256082069408505856,1256082063796498432,1588308276000,2020-05-01,"Catet tanggal mainnya! Besok, hari Sabtu, 2 Me...",1,https://twitter.com/bliblidotcom/status/125608...
4,1256082066355007488,1256082063796498432,1588308276000,2020-05-01,Yuk! Gabung di #NgobrolBareng Sahabat Perjalan...,1,https://twitter.com/bliblidotcom/status/125608...
...,...,...,...,...,...,...,...
61191,66696915760316416,66696915760316416,1304736758000,2011-05-07,14 jam lagi menuju kebebasan berbelanja. Visit...,0,https://twitter.com/bliblidotcom/status/666969...
61192,66681490603380736,66681490603380736,1304733080000,2011-05-07,"RT @misses_belle: ""Perfection is boring. If a ...",0,https://twitter.com/bliblidotcom/status/666814...
61193,66681423066710016,66681423066710016,1304733064000,2011-05-07,"RT @mstr_gentleman: Sebagai gaya kasual, tren ...",0,https://twitter.com/bliblidotcom/status/666814...
61194,66681266875006976,66681266875006976,1304733027000,2011-05-07,"RT @misses_stylish: Jess Collett, seorang topi...",0,https://twitter.com/bliblidotcom/status/666812...
61195,64125276212297728,64125276212297728,1304123631000,2011-04-30,#meet-the-expert RT @misses_belle: Anda mungki...,0,https://twitter.com/bliblidotcom/status/641252...

In [12]:
mycursor.execute('''CREATE TABLE Blibli(
                                        id VARCHAR(30) NOT NULL,
                                        conversation_id VARCHAR(30) NOT NULL,
                                        created_at VARCHAR(20) NOT NULL,
                                        date DATE,
                                        tweet text,
                                        likes_count smallint,
                                        link VARCHAR(70)
                                        )
                ''')

In [13]:
tb_blibli = '''INSERT INTO Blibli(id, conversation_id, created_at,  date, tweet, likes_count, link)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            '''

In [14]:
for i,row in blibli.iterrows():
    mycursor.execute(tb_blibli, list(row))
mydb.commit()

# Bukalapak

In [15]:
with open('bukalapak.json', encoding = 'utf-8') as f:
    data = [json.loads(line) for line in f]
data[0]

{'id': 1256088540007419905,
 'conversation_id': '1256080440797982720',
 'created_at': 1588309819000,
 'date': '2020-05-01',
 'time': '12:10:19',
 'timezone': 'WIB',
 'user_id': 113271721,
 'username': 'bukalapak',
 'name': 'Bukalapak',
 'place': '',
 'tweet': 'Maaf banget nih kak, boleh informasikan email dan nomor telepon kamu pada transaksi tersebut biar Bella bantu cek lebih lanjut ya kak. üòä ^AK',
 'mentions': ['daviq_romelos'],
 'urls': [],
 'photos': [],
 'replies_count': 0,
 'retweets_count': 0,
 'likes_count': 0,
 'hashtags': [],
 'cashtags': [],
 'link': 'https://twitter.com/bukalapak/status/1256088540007419905',
 'retweet': False,
 'quote_url': '',
 'video': 0,
 'near': '',
 'geo': '',
 'source': '',
 'user_rt_id': '',
 'user_rt': '',
 'retweet_id': '',
 'reply_to': [{'user_id': '113271721', 'username': 'bukalapak'},
  {'user_id': '483654662', 'username': 'Daviq_Romelos'}],
 'retweet_date': '',
 'translate': '',
 'trans_src': '',
 'trans_dest': ''}

In [16]:
bukalapak = pd.DataFrame(data= data, columns = ['id','conversation_id','created_at',  'date', 'tweet', 'likes_count','link'])
bukalapak

,id,conversation_id,created_at,date,tweet,likes_count,link
0,1256088540007419905,1256080440797982720,1588309819000,2020-05-01,"Maaf banget nih kak, boleh informasikan email ...",0,https://twitter.com/bukalapak/status/125608854...
1,1256084333103738880,1256080440797982720,1588308816000,2020-05-01,"Hai kak Daviq, maaf banget nih jadi bikin kamu...",0,https://twitter.com/bukalapak/status/125608433...
2,1256070843483910145,1256070843483910145,1588305600000,2020-05-01,Mau ngumpulin kamu-kamu yang hobi main Black D...,2,https://twitter.com/bukalapak/status/125607084...
3,1256055745583480833,1256055745583480833,1588302000000,2020-05-01,"Mana yang udah punya Kartu #PraKerja, yuk dima...",1,https://twitter.com/bukalapak/status/125605574...
4,1256040643987726337,1256040643987726337,1588298400000,2020-05-01,Jangan khawatir bingung cara pembayaran di Buk...,2,https://twitter.com/bukalapak/status/125604064...
...,...,...,...,...,...,...,...
51416,8958066104,8958066104,1265889874000,2010-02-11,Dijual : FOX TALAS 2010 baru travel adjust 110...,0,https://twitter.com/bukalapak/status/8958066104
51417,8958065572,8958065572,1265889873000,2010-02-11,Dijual : lowrider bike limo kustom http://bit...,0,https://twitter.com/bukalapak/status/8958065572
51418,8956704169,8956704169,1265886550000,2010-02-11,Dijual : PRO STEM http://bit.ly/dBPkH3,0,https://twitter.com/bukalapak/status/8956704169
51419,8956703799,8956703799,1265886549000,2010-02-11,Dijual : WHEELSET RAKITAN http://bit.ly/akypSN,0,https://twitter.com/bukalapak/status/8956703799
51420,8954903464,8954903464,1265881607000,2010-02-11,Dijual : \nframe TANK Pro Sport uk.S (15) warn...,1,https://twitter.com/bukalapak/status/8954903464

In [17]:
mycursor.execute('''CREATE TABLE Bukalapak(
                                        id VARCHAR(30) NOT NULL,
                                        conversation_id VARCHAR(30) NOT NULL,
                                        created_at VARCHAR(20) NOT NULL,
                                        date DATE,
                                        tweet text,
                                        likes_count smallint,
                                        link VARCHAR(70)
                                        )
                ''')

In [18]:
tb_bukalapak = '''INSERT INTO Bukalapak(id, conversation_id, created_at,  date, tweet, likes_count, link)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            '''

In [19]:
for i,row in bukalapak.iterrows():
    mycursor.execute(tb_bukalapak, list(row))
mydb.commit()

# Shopee

In [20]:
with open('ShopeeID.json', encoding = 'utf-8') as f:
    data = [json.loads(line) for line in f]
data[0]

{'id': 1256127719340982272,
 'conversation_id': '1256078428790419458',
 'created_at': 1588319160000,
 'date': '2020-05-01',
 'time': '14:46:00',
 'timezone': 'WIB',
 'user_id': 2983890506,
 'username': 'shopeeid',
 'name': 'Shopee Indonesia',
 'place': '',
 'tweet': 'Udah kok bebzüòä.^OV',
 'mentions': ['amelianalisna'],
 'urls': [],
 'photos': [],
 'replies_count': 0,
 'retweets_count': 0,
 'likes_count': 0,
 'hashtags': [],
 'cashtags': [],
 'link': 'https://twitter.com/ShopeeID/status/1256127719340982272',
 'retweet': False,
 'quote_url': '',
 'video': 0,
 'near': '',
 'geo': '',
 'source': '',
 'user_rt_id': '',
 'user_rt': '',
 'retweet_id': '',
 'reply_to': [{'user_id': '2983890506', 'username': 'ShopeeID'},
  {'user_id': '1122117009938890753', 'username': 'AmelianaLisna'}],
 'retweet_date': '',
 'translate': '',
 'trans_src': '',
 'trans_dest': ''}

In [21]:
shopee = pd.DataFrame(data= data, columns = ['id','conversation_id','created_at',  'date', 'tweet', 'likes_count','link'])
shopee

,id,conversation_id,created_at,date,tweet,likes_count,link
0,1256127719340982272,1256078428790419458,1588319160000,2020-05-01,Udah kok bebzüòä.^OV,0,https://twitter.com/ShopeeID/status/1256127719...
1,1256127510338813954,1255742833568264192,1588319110000,2020-05-01,Bismillah aja ya kakak moga kamu bisa menang. ...,0,https://twitter.com/ShopeeID/status/1256127510...
2,1256127231698624512,1256080701805326336,1588319044000,2020-05-01,"Hai Kak, jangan galau yah. Yuk dicoba untuk lo...",0,https://twitter.com/ShopeeID/status/1256127231...
3,1256127125146546177,1256101731634565120,1588319019000,2020-05-01,Yuhu kakak moga jawabannya bener yaks :) ^RN,0,https://twitter.com/ShopeeID/status/1256127125...
4,1256126826474352645,1256101731634565120,1588318947000,2020-05-01,"Asiyaap kakak, tunggu aja ya info dari temen a...",0,https://twitter.com/ShopeeID/status/1256126826...
...,...,...,...,...,...,...,...
266467,598072606714007553,598072606714007553,1431426595000,2015-05-12,Sore begini enaknya bersantai sambil minum teh...,0,https://twitter.com/ShopeeID/status/5980726067...
266468,598060094652157952,598060094652157952,1431423612000,2015-05-12,"Selamat bekerja Shopeeholic, tinggal sehari lg...",0,https://twitter.com/ShopeeID/status/5980600946...
266469,597988014518706176,597988014518706176,1431406427000,2015-05-12,Kini berbelanja semakin mudah dengan Shopee kr...,0,https://twitter.com/ShopeeID/status/5979880145...
266470,597984546227781633,597984546227781633,1431405600000,2015-05-12,Shopee merupakan pusat perbelanjaan mobile dim...,1,https://twitter.com/ShopeeID/status/5979845462...
266471,597984429558996992,597984429558996992,1431405572000,2015-05-12,Halo shopeeholic! Sudah siap untuk lebih kenal...,1,https://twitter.com/ShopeeID/status/5979844295...

In [22]:
mycursor.execute('''CREATE TABLE Shopee(
                                        id VARCHAR(30) NOT NULL,
                                        conversation_id VARCHAR(30) NOT NULL,
                                        created_at VARCHAR(20) NOT NULL,
                                        date DATE,
                                        tweet text,
                                        likes_count smallint,
                                        link VARCHAR(70)
                                        )
                ''')

In [23]:
tb_shopee = '''INSERT INTO Shopee(id, conversation_id, created_at,  date, tweet, likes_count, link)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            '''

In [24]:
for i,row in shopee.iterrows():
    mycursor.execute(tb_shopee, list(row))
mydb.commit()

# Tokopedia

In [25]:
with open('tokopedia.json', encoding = 'utf-8') as f:
    data = [json.loads(line) for line in f]
data[0]

{'id': 1256074190374834176,
 'conversation_id': '1256074190374834176',
 'created_at': 1588306398000,
 'date': '2020-05-01',
 'time': '11:13:18',
 'timezone': 'WIB',
 'user_id': 72293042,
 'username': 'tokopedia',
 'name': 'Tokopedia',
 'place': '',
 'tweet': 'Kejar Diskon untuk belanja kebutuhan Ramadanmu di tanggal 4 dan 11 Mei ‚è∞\n\nBersama Tokopedia kembalikan #SemangatRamadan',
 'mentions': [],
 'urls': [],
 'photos': [],
 'replies_count': 2,
 'retweets_count': 2,
 'likes_count': 69,
 'hashtags': ['#semangatramadan'],
 'cashtags': [],
 'link': 'https://twitter.com/tokopedia/status/1256074190374834176',
 'retweet': False,
 'quote_url': '',
 'video': 0,
 'near': '',
 'geo': '',
 'source': '',
 'user_rt_id': '',
 'user_rt': '',
 'retweet_id': '',
 'reply_to': [{'user_id': '72293042', 'username': 'tokopedia'}],
 'retweet_date': '',
 'translate': '',
 'trans_src': '',
 'trans_dest': ''}

In [26]:
tokopedia = pd.DataFrame(data= data, columns = ['id','conversation_id','created_at',  'date', 'tweet', 'likes_count','link'])
tokopedia

,id,conversation_id,created_at,date,tweet,likes_count,link
0,1256074190374834176,1256074190374834176,1588306398000,2020-05-01,Kejar Diskon untuk belanja kebutuhan Ramadanmu...,69,https://twitter.com/tokopedia/status/125607419...
1,1256060205881688064,1256060205881688064,1588303064000,2020-05-01,Jangan lupa cek #TokopediaBFF untuk beli produ...,77,https://twitter.com/tokopedia/status/125606020...
2,1255971392425787401,1255971392425787401,1588281889000,2020-05-01,Ini juga ü§£ https://twitter.com/jeyheyop/status...,550,https://twitter.com/tokopedia/status/125597139...
3,1255971314021662726,1255971314021662726,1588281870000,2020-05-01,Bisa ü§£ü§£ü§£ https://twitter.com/kimzaahn/status/1...,265,https://twitter.com/tokopedia/status/125597131...
4,1255970606379675648,1255968799557210113,1588281702000,2020-05-01,Wah kayak lebaran makan opor ayam... seru seru üòã,3,https://twitter.com/tokopedia/status/125597060...
...,...,...,...,...,...,...,...
31147,11071128083,11071128083,1269575107000,2010-03-26,"VIVAnews: Singapura, Jepang Investasi di Websi...",0,https://twitter.com/tokopedia/status/11071128083
31148,11045779776,11045779776,1269539728000,2010-03-26,glad we can help RT @priapertama kenapa ya say...,0,https://twitter.com/tokopedia/status/11045779776
31149,11025165653,11025165653,1269506769000,2010-03-25,HOT!!! RT @dailysocial: [HOT] Tokopedia Terima...,0,https://twitter.com/tokopedia/status/11025165653
31150,11024958989,11024958989,1269506241000,2010-03-25,interesting day it is ;) RT @rampok: Plasa.com...,0,https://twitter.com/tokopedia/status/11024958989
31151,11024497226,11024497226,1269505079000,2010-03-25,Press Release: Tokopedia Receives Investment f...,1,https://twitter.com/tokopedia/status/11024497226

In [30]:
mycursor.execute('''CREATE TABLE Tokopedia(
                                        id VARCHAR(30) NOT NULL,
                                        conversation_id VARCHAR(30) NOT NULL,
                                        created_at VARCHAR(20) NOT NULL,
                                        date DATE,
                                        tweet text,
                                        likes_count int,
                                        link VARCHAR(70)
                                        )
                ''')

In [31]:
tb_tokopedia = '''INSERT INTO Tokopedia(id, conversation_id, created_at,  date, tweet, likes_count, link)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            '''

In [32]:
for i,row in tokopedia.iterrows():
    mycursor.execute(tb_tokopedia, list(row))
mydb.commit()